{% load static tailwind_tags %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
{% tailwind_css %}
</head>

<body class="font-helvetica">
<!-- top_bar -->

     
    <div class="bg-white shadow-md relative z-20 backdrop-blur-md bg-opacity-75">
        <!-- First Container: Social Links, Logo, and Search Bar -->
        <div class="py-2 flex justify-between items-center px-2 hidden sm:flex">

            <div class="social-links flex space-x-4 text-gray-900">
                <!-- Facebook -->
                <a href="https://www.facebook.com/profile.php?id=61566210926783" target="_blank" class="rounded-full bg-blue-100 w-7 h-7 flex items-center justify-center hover:bg-blue-200 transition">
                    <i class="fab fa-facebook-f text-blue-600"></i>
                </a>
                <!-- X (formerly Twitter) -->
                <a href="https://x.com/ScodynateNews" target="_blank" class="rounded-full bg-gray-900 w-7 h-7 flex items-center justify-center hover:bg-gray-950 transition">
                    <i class="fab fa-x-twitter text-white"></i>
                </a>
                <!-- Gmail -->
                <a href="mailto:newsscodynate@gmail.com" target="_blank" class="rounded-full bg-red-100 w-7 h-7 flex items-center justify-center hover:bg-red-200 transition">
                    <i class="fas fa-envelope text-red-600"></i>
                </a>
            </div>
            
            <!-- logo -->
            <div class="logo">
                <img src="{% static 'images/logoheader.png' %}" alt="Logo" class="h-20 w-auto md:h-20  object-cover">
            </div>
            
            <!-- Search Bar -->
            <div class="search flex">
                <div class="relative w-full">
                    <!-- Search Input with icon inside -->
                    <input id="search-input" type="text" placeholder="Search ..." class="border border-gray-300 rounded-l-md py-2 px-4 pl-10 outline-none focus:ring-0 w-full">
                    <i class="fas fa-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
            
                    <!-- Custom Suggestion Box -->
                    <div id="suggestion-box" class="absolute bg-white border border-gray-300 rounded-md shadow-lg w-full hidden z-10"></div>
                </div>
            
                <!-- Search Button with icon only -->
                <button id="search-button" class="bg-[#10AA6A] text-white rounded-r-md py-2 px-3 hover:bg-green-800 focus:outline-none focus:ring-0">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            
        </div>
        <!-- navbar on lg screen -->
        <div class="navbar md:flex hidden justify-between bg-green-100 text-black items-center p-4 font-semibold mb-4 shadow-md text-sm">
            <div class="home flex items-center space-x-4">
                <a href="/" class="flex items-center p-2 ">
                    <div class="flex items-center justify-center bg-green-500 text-white rounded-full w-10 h-10">
                        <i class="fas fa-home text-xl"></i> <!-- Adjust icon size here -->
                    </div>
                    <span class="text-lg ml-2">Home</span>
                </a>
            </div>
            
            <div class="home flex items-center space-x-4">
                <a href="{% url 'shop_index' %}" class="flex items-center p-2">
                    <div class="flex items-center justify-center bg-green-500 text-white rounded-full w-10 h-10">
                        <i class="fas fa-store text-xl"></i> <!-- Adjust icon size here -->
                    </div>
                    <span class="text-lg ml-2">Shop</span>
                </a>
            </div>
            
            <div class="category">
                <ul class="flex space-x-6 capitalize">
                    {% for category in navbar_categories %}
                    <li class="hover:underline hover:text-green-800 transition-colors">
                        <a href="{% url 'category_list' category.slug %}" class="text-lg">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- navigation on small screen -->
        <div>

            {% include 'header/nav_bar.html' %}

        </div>

        
    </div>
    <script src="{% static 'js/mobile_navbar.js' %}"></script>
    
    

<script src="{% static 'js/search.js'%}"></script>
</body>
