{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ post.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    
    
    {% tailwind_css %}
</head>
<body class="bg-white">
    <div class="mx-auto">
        <div>
            {% block content %}
                {% include 'header.html' %}
            {% endblock %}
        </div>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
            <!-- Blog details -->
            <div class="p-6 sm:col-span-2">
                <h1 class="md:text-4xl sm:text-3xl font-bold text-gray-950">{{ post.title|title }}</h1>
                <div class="flex justify-between items-center mt-2">
                    <div>
                        <p class="text-sm text-gray-700">By {{ post.author }} | {{ post.date }}</p>
                    </div>
                </div>
                <div class="relative my-4">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.image.alt_text }}" class="w-full h-auto">
                    {% else %}
                        <p>No Image Available</p>
                    {% endif %}
                </div>
                <!-- Share links -->

                <div class="flex space-x-4 mt-2">

                    {% include 'share_link.html' %}

                </div>
                
                <div class="mt-4 text-gray-800 md: text-[1rem] font-open-sans font-[400]">
                    {{ post.content|safe |linebreaks }}
                </div>
                <!-- Comments section -->
                <div class="comment">
                    {% block comment %}
                        {% include 'comment&reply.html' %}
                    {% endblock %}
                </div>
            </div>
            <!-- Sidebar with related posts -->
            <div class="p-6 sm:col-span-1">
                <div>
                    <!-- heading -->
                    <div class="section flex-row items-center">
                        <div class="heading">
                            <h2 class="text-xs font-bold">Related</h2>
                        </div>
                        <div class="line">
                            <div class="highlight"></div>
                        </div>
                    </div>
                    <div>
                        {% for related_post in related_posts %}
                            <div class="mb-4 flex">
                                {% if related_post.image %}
                                    <img src="{{ related_post.image.url }}" alt="{{ related_post.image.alt_text }}" class="w-20 h-20 mr-4 object-cover">
                                {% endif %}
                                <div>
                                    <a href="{% url 'blog_detail' related_post.slug %}" class="text-black hover:text-gray-800 font-semibold text-[0.9rem]">{{ related_post.title|truncatechars:80|title }}</a>
                                    <div class="meta text-xs text-gray-600 flex items-center mt-2">
                                        <p class="text-gray-600">
                                            <i class="fas fa-clock text-red-500 text-[0.6rem]"></i>
                                            <span class="post-date" data-date="{{ post.date|date:'U' }}"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No related posts available.</p>
                        {% endfor %}
                    </div>
                </div>
                <!-- Recommended posts -->
                <div>
                    <!-- heading -->
                    <div class="section flex-row items-center">
                        <div class="heading">
                            <h2 class="text-xs font-bold">Recommended</h2>
                        </div>
                        <div class="line">
                            <div class="highlight"></div>
                        </div>
                    </div>
                    <div>
                        {% for post in recommended_posts %}
                            <div class="mb-4 flex">
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="{{ post.image.alt_text }}" class="w-20 h-20 mr-4 object-cover">
                                {% endif %}
                                <div>
                                    <a href="{% url 'blog_detail' post.slug %}" class="text-black hover:text-gray-800 font-semibold text-[0.9rem]">{{ post.title|truncatechars:80|title }}</a>
                                    <div class="meta text-xs text-gray-600 flex items-center mt-2">
                                        <p class="text-gray-600">
                                            <i class="fas fa-clock text-red-500 text-[0.6rem] font-bold"></i>
                                            <span class="post-date" data-date="{{ post.date|date:'U' }}"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No recommended posts available.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}
    </div>

    <script>
  document.addEventListener('DOMContentLoaded', function() {
    updatePostDates('.post-date');  // Initialize date updating

    setInterval(function() {
        updatePostDates('.post-date');  // Update dates every second
    }, 1000);
});

function updatePostDates(selector) {
    var postDates = document.querySelectorAll(selector);
    console.log('Updating post dates for elements:', postDates); // Debugging output
    postDates.forEach(function(postDate) {
        var dateElement = postDate.getAttribute('data-date');
        console.log('Original data-date attribute:', dateElement); // Debugging output
        var date = new Date(parseInt(dateElement) * 1000);  // Convert UNIX timestamp to milliseconds
        var currentDate = new Date();
        var secondsAgo = Math.floor((currentDate - date) / 1000);

        if (secondsAgo < 60) {
            postDate.textContent = secondsAgo + ' seconds ago';
        } else if (secondsAgo < 3600) {
            var minutesAgo = Math.floor(secondsAgo / 60);
            postDate.textContent = minutesAgo + ' minutes ago';
        } else if (secondsAgo < 86400) {
            var hoursAgo = Math.floor(secondsAgo / 3600);
            postDate.textContent = hoursAgo + ' hours ago';
        } else {
            // Default to the original date format if more than 24 hours ago
            postDate.textContent = date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });
        }
        console.log('Updated post date text:', postDate.textContent); // Debugging output
    });
}

    </script>
    
</body>
</html>
