{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <style>
        .media-library {
            display: flex;
            flex-wrap: wrap;
        }

        .media-items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;
        }

        .media-item {
            border: 1px solid #ddd;
            text-align: center;
        }

        .media-item img,
        .media-item video {
            max-width: 100%;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <h1>Media Files</h1>
        <h2>Upload New Media</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ adminform.form.as_p }}
            <button type="submit" class="button">Upload</button>
        </form>

    </div>
    <div class="media-library">
        <div class="media-items">
            {% for obj in cl.result_list %}
                <div class="media-item">
                    {% if obj.file.url %}
                        {% if ".jpg" in obj.file.url|lower or ".png" in obj.file.url|lower %}
                            <img src="{{ obj.file.url }}" alt="{{ obj }}">
                        {% elif ".mp4" in obj.file.url|lower %}
                            <video src="{{ obj.file.url }}" controls></video>
                        {% else %}
                            <p>{{ obj.file.name }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
  
{% endblock %}
