<!-- blog/templates/index.html -->
{% extends 'base.html' %}


{% block content %}

  
    <div class="mt-44">

        {% include 'advert/advert.html' with banner=leaderboard_ad %}
    </div>

    <div class="mt-24">
        
        {% include 'hero.html' %}

    </div>

 

    {% include 'latest_news.html' %}

    {% include 'advert/advert.html' with banner=home_ad %}

    {% include 'sports.html' %}

    {% include 'videos.html' %}

    {% include 'recentnews.html' %}





{% endblock%}





