{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body class="bg-gray-100 ">
    <div class="container mx-auto flex flex-col md:flex-row justify-between py-6 font-poppins">
        <!-- Sports container -->
        <div class="w-full md:w-1/2 px-2 py-4 bg-white mb-6 md:mb-0">
            <!-- heading container -->
            <div class="section">
                <div class="heading">
                    <h2>SPORTS</h2>
                </div>
                <div class="line">
                    <div class="highlight"></div>
                </div>
            </div>
            
            <div class="tech-posts flex justify-between flex-col mb-6">
                {% for post in sport_posts %}
                <div class="flex items-center justify-center mb-1 border-b pb-4">
                    {% if post.image %}
                       <img src="{{ post.image.url }}" alt="{{post.image.alt_text }}" class="w-[120px] h-[86px] mr-4 object-cover">
                    {% else %}
                        <p>No Image Available</p>
                    {% endif %}
                    <div class="w-2/3">
                        <a href="{% url 'blog_detail' post.slug %}" class="text-gray-900 md:text-sm sm:text-sm font-semibold hover:underline tracking-tight">
                            {{ post.title|truncatechars:50 }}
                        </a>
                        <div class="meta text-xs text-gray-600 flex items-center mt-2">
                            <p class="text-gray-600">
                                <i class="fas fa-clock text-red-500 text-[0.6rem]"></i>
                                <span class="post-date" data-date="{{ post.date|date:'U' }}"></span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- Technology news -->
        <div class="w-full md:w-1/2 px-2 py-4 bg-white">
            <!-- heading section -->
            <div class="section">
                <div class="heading">
                    <h2>TECHNOLOGY</h2>
                </div>
                <div class="line">
                    <div class="highlight"></div>
                </div>
            </div>
            <div class="tech-posts flex justify-between flex-col mb-6">
                {% for post in tech_posts %}
                <div class="flex items-center justify-center mb-1 border-b pb-4">
                    {% if post.image %}
                       <img src="{{ post.image.url }}" alt="{{post.image.alt_text }}" class="w-[120px] h-[86px] mr-4 object-cover">
                    {% else %}
                        <p>No Image Available</p>
                    {% endif %}
                    <div class="w-2/3">
                        <a href="{% url 'blog_detail' post.slug %}" class="text-gray-900 md:text-sm sm:text-sm font-semibold hover:underline tracking-tight">
                            {{ post.title|truncatechars:50 }}
                        </a>
                        <div class="meta text-xs text-gray-600 flex items-center mt-2">
                            <p class="text-gray-600">
                                <i class="fas fa-clock text-red-500 text-[0.6rem]"></i>
                                <span class="post-date" data-date="{{ post.date|date:'U' }}"></span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



</body>
</html>
