
{% extends 'partials/base.html' %}

{% block title%} Breaking News | Trends | Sports{%endblock%}


{% block content %}

  
    <div class="mt-44">

        {% include 'advert/advert.html' with banner=leaderboard_ad %}
    </div>

    <div class="mt-24">
        
        {% include 'home/hero.html' %}

    </div>

 

    {% include 'home/latest_news.html' %}

    {% include 'advert/advert.html' with banner=home_ad %}


    {% include 'home/global_news.html' %}

    {% include 'home/sports.html' %}


    <div class="container mx-auto flex flex-col md:flex-row justify-between py-6 font-poppins ">
        
        <div class="shop w-full md:w-1/2 px-2 py-4  mb-6 md:mb-0">
            {% include 'shop/blog_shop.html' %}
        </div>

        <div class="business">

            
        </div>




    </div>


    {% include 'home/videos.html' %}

    {% include 'home/recentnews.html' %}





{% endblock%}





