Django==4.2.5
django-background-tasks==1.2.8
django-browser-reload==1.13.0
django-tailwind==3.8.0
django-tinymce==4.1.0
gunicorn==22.0.0
mysqlclient==2.2.4
pillow==10.3.0
psycopg2-binary==2.9.9
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
whitenoise==6.7.0
