{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <title> Newstropy |{%block title%}{%endblock%} </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wid     th, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{% block og_image %}{% endblock %}">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block tw_title %}{% endblock %}">
    <meta name="twitter:description" content="{% block tw_description %}{% endblock %}">
    <meta name="twitter:image" content="http://{{ request.META.HTTP_HOST }}{% block tw_image %}{% endblock %}">
    <meta name="twitter:url" content="http://{{ request.META.HTTP_HOST }}{{ request.path }}">


    

    <meta name="description" content="Newstropy - Your source for the latest updates in politics, sports, global news, and more. Stay informed with in-depth articles and expert opinions." />
    


    <link rel="canonical" href="https://www.scodynate.com/" />

    <script src="https://cdn.tailwindcss.com"></script> 

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V80Z4XJ73J"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V80Z4XJ73J');
    </script>
{% tailwind_css %}
</head>
<body class="font-helvetica ">

    <div class="z-50 fixed w-full">

        {% include 'header/header.html' %}
      
    </div>


    
    
    <main class="container mx-auto sm:py-8 py-2">

        {% block content%}

        {%endblock%}

    </main>



    <!-- footer -->

    <div class="footer">
        {% block footer %}
          {% include 'partials/footer.html' %}
        {% endblock %}
    </div>

</body>
</html>
