{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <title>Scodynate News | Breaking News | Sports | Trends</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Scodynate News - Your source for the latest updates in politics, sports, global news, and more. Stay informed with in-depth articles and expert opinions." />
    
    <meta name="description" content="Welcome to Scodynate News - the ultimate destination for breaking news, in-depth analysis, and comprehensive coverage of the latest stories from around the world." />

    <meta name="keywords" content="breaking news, latest news, Scodynate News, world news, news updates" />
    
    <meta name="keywords" content="News, Nigeria News, Nigeria Updates, Politics, Sports, Global News, Scodynate News" />

    <link rel="canonical" href="https://www.scodynate.com/" />

    <script src="https://cdn.tailwindcss.com"></script> 
{% tailwind_css %}
</head>
<body class="font-helvetica ">

    <div class="z-50 fixed w-full">

        {% include 'header/header.html' %}
      
    </div>


    
    
    <main class="container mx-auto sm:py-8 py-2">

        {% block content%}

        {%endblock%}

    </main>



    <!-- footer -->

    <div class="footer">
        {% block footer %}
          {% include 'partials/footer.html' %}
        {% endblock %}
    </div>

</body>
</html>
