{% load static %}
<footer class="bg-black text-white py-8">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <!-- About Section -->
            <div>
                <div class="logo mb-4">
                    <img src="{% static 'images/logofooter.png' %}" alt="Scodynate Logo" class="h-12 w-auto md:h-16 lg:h-20 object-contain">
                </div>
                <p class="text-gray-400 text-sm">
                    Newstropy is your go-to source for the latest updates in politics, sports, global news, and more. Stay informed, stay connected.
                </p>
            </div>

            <!-- Highlights Section -->
            <div>
                <h3 class="text-green-500 font-semibold mb-4">What We Cover</h3>
                <ul class="text-gray-400 list-disc pl-5 space-y-2 text-sm">
                    <li>Nigeria News</li>
                    <li>Global News</li>
                    <li>Sports News</li>
                    <li>Technology Trends</li>
                    <li>Health & Wellness</li>
                    <li>Business Insights</li>
                </ul>
                <p class="text-gray-100 mt-4 text-sm font-semibold">You're in the right place for real-time updates.</p>
            </div>

            <!-- Navigation Section -->
            <div>
                <h3 class="text-green-500 font-semibold mb-4">Quick Links</h3>
                <ul class="space-y-2">
                    <li>
                        <a href="/privacy-policy" class="text-gray-400 hover:text-green-500 text-sm font-medium ">
                            Privacy Policy
                        </a>
                    </li>
                    <li><a href="{% url 'index' %}" class="text-gray-400 hover:text-green-500 text-sm">Home</a></li>
                    {% for category in navbar_categories %}
                        <li>
                            <a href="{% url 'category_list' category.slug %}" class="text-gray-400 hover:text-green-500 text-sm">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            

            <!-- Newsletter & Social Links -->
            <div>
                <h3 class="text-green-500 font-semibold mb-4">Stay in Touch</h3>
                <div class="mb-6">
                    <form id="subscribe-form" action="{% url 'subscribe' %}" method="POST" class="space-y-4">
                        {% csrf_token %}
                        <input id="name" name="name" class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded focus:outline-none focus:border-green-500" placeholder="First Name" />
                        <input id="email" name="email" type="email" class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded focus:outline-none focus:border-green-500" placeholder="Email Address" />
                        <button type="submit" class="w-full px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">
                            Subscribe <i class="fa fa-arrow-circle-right fa-lg"></i>
                        </button>
                        <div id="message" class="mt-4"></div> <!-- Message display area -->
                    </form>
                </div>

                <!-- Social Links Box -->
                <div class="social-links">
                    <h4 class="text-gray-400 mb-4">Follow Us</h4>
                    <div class="flex space-x-3">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/profile.php?id=61566210926783" target="_blank" class="rounded-full bg-green-500 w-7 h-7 flex items-center justify-center hover:bg-green-600 transition">
                            <i class="fab fa-facebook-f text-white text-lg"></i>
                        </a>
                        <!-- Twitter -->
                        <a href="https://x.com/ScodynateNews" target="_blank" class="rounded-full bg-green-500 w-7 h-7 flex items-center justify-center hover:bg-green-600 transition">
                            <i class="fab fa-x-twitter text-white text-sm"></i>
                        </a>
                        <!-- gmail -->
                        <a href="mailto:newsscodynate@gmail.com" target="_blank" class="rounded-full bg-green-500 w-7 h-7 flex items-center justify-center hover:bg-green-600 transition">
                            <i class="fas fa-envelope text-white text-sm"></i>
                        </a>
                  
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="mt-8 border-t border-gray-700 pt-4 text-center">
            <p class="text-gray-400">
                © 2024 - {% now "Y" %} Newstropy All rights reserved.
                <br>

            </p>
        </div>
        
    </div>
</footer>



<script>
    document.getElementById('subscribe-form').addEventListener('submit', function(event) {
        event.preventDefault();
        
        const formData = new FormData(this);
        const messageDiv = document.getElementById('message');
        const form = this;

        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: { 'X-Requested-With': 'XMLHttpRequest' }
        })
        .then(response => response.json())
        .then(data => {
            messageDiv.innerHTML = `<div class="p-4 rounded ${data.success ? 'bg-green-500' : 'bg-red-500'} text-white">${data.success ? data.message : data.error}</div>`;
        })
        .catch(() => {
            messageDiv.innerHTML = `<div class="bg-red-500 text-white p-4 rounded">An unexpected error occurred. Please try again later.</div>`;
        })
        .finally(() => {
            setTimeout(() => messageDiv.innerHTML = '', 5000);
            form.reset();
        });
    });
</script>

