{% extends 'partials/base.html' %}
{% load static tailwind_tags %}
{% load custom_filters %}

{% block title %} {{ post.title }} {% endblock %}

{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.title }}{% endblock %}
{% block og_image %}
    {{ absolute_image_url }}
{% endblock %}


{% block tw_title %}{{ post.title }}{% endblock %}
{% block tw_description %}{{ post.title }}{% endblock %}
{% block tw_image %}
  {{ absolute_image_url }}

{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:image" content="{{ absolute_image_url }}" />
    <meta property="og:image" content="{{ absolute_image_url }}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM0s4HRZ06k6nyJ8Bwhe1g1dZ9IejdBBSskVQ2" crossorigin="anonymous">
    <script src="{% static 'js/date-utils.js' %}"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V80Z4XJ73J"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-V80Z4XJ73J');
    </script>
    {% tailwind_css %}
    <style>
        #contentContainer {
            max-width: 800px;
            margin: 15px auto;
            padding: 15px;
            line-height: 1.75;
            color: #333;
        }
        .first-letter {
            color: #228B22;
            font-size: 4rem;
            font-weight: bold;
            float: left;
            margin-right: 10px;
            line-height: 0.6;
            padding-top: 0.15em;
            padding-bottom: 0.15em;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body class="bg-white">
    <div class="mt-40">
        {% include 'advert/advert.html' with banner=leaderboard_ad %}
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 font-poppins overflow-hidden">  
        <div class="p-6 sm:col-span-2 overflow-hidden">
            <!-- Breadcrumb -->
            <nav class="mb-4 text-xs sm:text-sm md:text-base font-poppins" aria-label="Breadcrumb">
                <ol class="list-none p-0 flex flex-wrap">
                    <li class="flex items-center">
                        <a href="{% url 'index' %}" class="text-gray-700 hover:text-gray-900">Home</a>
                        <i class="fas fa-angle-double-right mx-2 text-green-800"></i>
                    </li>
                    <li class="flex items-center">
                        <a href="{% url 'category_list' post.category.slug %}" class="text-gray-700 hover:text-gray-900">{{ post.category.name }}</a>
                    </li>
                </ol>
            </nav>
            <!-- Heading -->

            <h2 class="text-2xl sm:text-4xl md:text-5xl font-bold text-gray-900 mb-4">{{ post.title|title }}</h2>

            <div class="flex flex-col sm:flex-row items-start sm:items-center font-poppins overflow-hidden">
                <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-4 text-gray-700 font-medium overflow-hidden">
                    <!-- Author Info -->
                    <div class="flex items-center space-x-2 mb-2 sm:mb-0 overflow-hidden">
                        <div class="w-5 h-5 rounded-full overflow-hidden bg-gray-200">
                            <img src="{% static 'images/logo2.png' %}" alt="Author's Headshot" class="w-full h-full object-cover">
                        </div>
                        <p class="font-semibold text-gray-900 text-sm sm:text-base">Newstropy</p>
                    </div>
                    <!-- Date Info -->
                    <div class="flex items-center space-x-2 text-gray-600 text-sm sm:text-base">
                        <i class="fas fa-calendar-day text-green-700"></i>
                        <p>{{ post.date|date:"F j, Y" }}</p>
                    </div>
                </div>
            </div>
            <!-- Post Image -->
            <div class="relative my-4">
                {% if post.image %}
                    <img src="{{ post.image.file.url }}" alt="{{ post.image.name }}" class="w-full h-auto">
                {% else %}
                    <img src="{% static 'images/Breakingnews.png' %}" alt="Default Image" class="w-full h-auto">
                {% endif %}
            </div>
            {% include 'partials/buttons.html' %}
            <!-- Post Content -->
            <div id="contentContainer" class="py-0 overflow-hidden my-8">
                {{ advert|first_letter_richtext | safe | linebreaks }}
            </div>
            {% include 'advert/advert.html' with banner=home_ad %}

            <div class="shop my-8">
                {% include 'shop/blog_shop.html' %}
            </div>

            <div class="mt-6">
                {% include 'partials/comment&reply.html' %}
            </div>
        </div>
        <!-- Sidebar with related posts -->
        <div>
            {% include 'advert/advert.html' with banner=sidebar_ad %}
            {% include 'partials/sidebar.html' %}
        </div>
    </div>
</body>
</html>
{% endblock %}
