{% extends 'partials/base.html' %}
{% load static tailwind_tags %}
{% load custom_filters %}

{% block title %} {{ trend.title }}{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Open Graph Metadata -->
    <meta property="og:title" content="{{ trend.title }}" />
    <meta property="og:description" content="{{ trend.description }}" />
    
    {% if trend.is_video %}
        <!-- Open Graph Video Tags -->
        <meta property="og:type" content="video.other" />
        <meta property="og:video" content="{{ trend.file.url }}" />
        <meta property="og:video:secure_url" content="{{ trend.file.url }}" />
        <meta property="og:video:type" content="video/mp4" />
        <meta property="og:video:width" content="1280" />
        <meta property="og:video:height" content="720" />
    {% elif trend.is_image %}
        <!-- Open Graph Image Tags -->
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{ trend.file.url }}" />
    {% else %}
        <!-- Default Fallback Image -->
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{% static 'images/Breakingnews.png' %}" />
    {% endif %}

    <!-- Twitter Metadata -->
    <meta name="twitter:card" content="{% if trend.is_video %}player{% else %}summary_large_image{% endif %}" />
    <meta name="twitter:title" content="{{ trend.title }}" />
    <meta name="twitter:description" content="{{ trend.description }}" />
    <meta name="twitter:image" content="{% if trend.is_image %}{{ trend.file.url }}{% else %}{% static 'images/Breakingnews.png' %}{% endif %}" />
    {% if trend.is_video %}
        <meta name="twitter:player" content="{{ trend.file.url }}" />
        <meta name="twitter:player:width" content="1280" />
        <meta name="twitter:player:height" content="720" />
    {% endif %}

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM0s4HRZ06k6nyJ8Bwhe1g1dZ9IejdBBSskVQ2" crossorigin="anonymous">
    <script src="{% static 'js/date-utils.js' %}"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V80Z4XJ73J"></script>
    {% tailwind_css %}

    <style>
        #contentContainer {
            max-width: 800px;
            margin: 15px auto;
            padding: 15px;
            line-height: 1.75;
            color: #333;
        }
        .first-letter {
            color: #228B22;
            font-size: 4rem;
            font-weight: bold;
            float: left;
            margin-right: 10px;
            line-height: 0.6;
            padding-top: 0.15em;
            padding-bottom: 0.15em;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
        }
    </style>
</head>

<body class="bg-white text-gray-900 ">


    <!-- Main Content -->
    <main class="container mx-auto px-4 py-8 font-helvetica my-40">
        {% include 'advert/advert.html' with banner=leaderboard_ad %}
        <div class="flex flex-wrap -mx-4">
            
            <!-- Trend Section -->
            <div class="w-full lg:w-8/12 px-4 my-8">
                <h2 class="text-2xl sm:text-4xl md:text-5xl font-bold text-gray-900 mb-8">{{ trend.title | title }}</h2>
                
                <div>
                    <div class="bg-white overflow-hidden mb-4">
                        {% if trend.file %}
                            {% if trend.is_image %}
                                <img src="{{ trend.file.url }}" alt="{{ trend.title }}" class="w-full object-cover">
                            {% elif trend.is_video %}
                                <video controls class="w-full h-72">
                                    <source src="{{ trend.file.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% else %}
                                <img src="{% static 'images/Breakingnews.png' %}" alt="Default Image" class="w-full h-auto">
                            {% endif %}
                        {% else %}
                            <img src="{% static 'images/Breakingnews.png' %}" alt="Default Image" class="w-full h-auto">
                        {% endif %}
                    </div>
            
                    <div class="flex flex-col sm:flex-row items-start sm:items-center font-poppins mb-4">
                        <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-4 text-gray-700 font-medium">
                            <!-- Author Info -->
                            <div class="flex items-center space-x-2 mb-2 sm:mb-0">
                                <div class="w-5 h-5 rounded-full overflow-hidden bg-gray-200">
                                    <img src="{% static 'images/logo2.png' %}" alt="Author's Headshot" class="w-full h-full object-cover">
                                </div>
                                <p class="font-semibold text-gray-900 text-sm sm:text-base">Newstropy</p>
                            </div>
                            <!-- Date Info -->
                            <div class="flex items-center space-x-2 text-gray-600 text-md sm:text-base font-md">
                                <i class="fas fa-calendar-day text-green-700"></i>
                                <p>{{ trend.date|date:"F j, Y" }}</p>
                            </div>
                        </div>
                    </div>
            
                    <div>
                        {% include 'partials/buttons.html' %}
                        <div id="contentContainer" class="py-0 overflow-hidden my-8">
                            {{ advert|first_letter_richtext | safe | linebreaks }}
                        </div>
                    </div>
                </div>
            
                <div class="shop">
                    {% include 'shop/blog_shop.html' %}
                </div>
            
                <div class="mt-6">
                    {% block comment&reply %}
                        {% include 'partials/comment&reply.html' %}
                    {% endblock %}
                </div>
            </div>
            

            <!-- Sidebar Section -->
            <div class="w-full lg:w-4/12 px-4">

                {% include 'advert/advert.html' with banner=sidebar_ad %}
               <!-- Recommended posts -->
                <div class="my-8">
                    <!-- heading -->
                    <div class="section">
                        <div class="heading">
                            <h2 >Recommended</h2>
                        </div>
                        <div class="line">
                            <div class="highlight"></div>
                        </div>
                    </div>
                    <div>
                        {% for post in recommended_posts %}
                            <div class="mb-4 flex shadow-md ">
                            {% if post.image %}
                                <img src="{{ post.image.file.url }}" alt="{{ post.image.alt_text }}" class="w-20 h-20 object-cover mr-4">
                            {% else %}
                                <img src="{% static 'images/Breakingnews.png' %}" alt="Default image" class="w-20 h-20 object-cover mr-4">
                            {% endif %}
                                <div>
                                    <a href="{% url 'blog_detail' post.slug %}" class="text-black hover:text-gray-800 font-semibold text-[0.9rem]">{{ post.title|truncatechars:50|title }}</a>
                                    <div class="meta text-xs text-gray-600 flex items-center mt-2">
                                        <p class="text-gray-600">
                                            <i class="fas fa-clock text-red-500 text-[0.6rem] font-bold"></i>
                                            <span class="text-gray-700 text-sm mb-2">{{ post.date|date:"F j, Y" }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No recommended posts available.</p>
                        {% endfor %}
                    </div>
    
                </div>
    
                {% include 'advert/advert.html' with banner=home_ad %}
                
            </div>


        </div>
    </main>

    <!-- Footer Section -->
>

</body>
</html>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}

