{% extends 'partials/base.html' %}
{% load static tailwind_tags %}
{% load custom_filters %}

{% block title %}{{ trend.title }}{% endblock %}

{% block content %}
<head>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ trend.title }}" />
    <meta property="og:description" content="{{ trend.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="{% if trend.is_video %}video.other{% else %}article{% endif %}" />

    {% if trend.is_video %}
        <meta property="og:video" content="{{ absolute_file_url }}" />
        <meta property="og:video:secure_url" content="{{ absolute_file_url }}" />
        <meta property="og:video:type" content="video/mp4" />
        <meta property="og:video:width" content="1280" />
        <meta property="og:video:height" content="720" />
        <meta property="og:image" content="{{ absolute_file_url }}" />
        <meta name="twitter:card" content="player" />
        <meta name="twitter:player" content="{{ absolute_file_url }}" />
        <meta name="twitter:player:width" content="1280" />
        <meta name="twitter:player:height" content="720" />
    {% else %}
        <meta property="og:image" content="{{ absolute_file_url }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="{{ absolute_file_url }}" />
    {% endif %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V80Z4XJ73J"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-V80Z4XJ73J');
    </script>
    {% tailwind_css %}
    <style>
        #contentContainer {
            max-width: 800px;
            margin: 15px auto;
            padding: 15px;
            line-height: 1.75;
            color: #333;
        }
        .first-letter {
            color: #228B22;
            font-size: 4rem;
            font-weight: bold;
            float: left;
            margin-right: 10px;
            line-height: 0.6;
            padding-top: 0.15em;
            padding-bottom: 0.15em;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body class="bg-white text-gray-900">
    <main class="container mx-auto px-4 py-8 font-helvetica my-40">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full lg:w-8/12 px-4 my-8">
                <h2 class="text-2xl sm:text-4xl md:text-5xl font-bold text-gray-900 mb-4">{{ trend.title | title }}</h2>

                <div class="bg-white overflow-hidden mb-8">
                    <!-- Dynamic File Rendering -->
                    <div class="flex flex-col sm:flex-row items-start sm:items-center font-poppins overflow-hidden">
                        <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-4 text-gray-700 font-medium overflow-hidden">
                            <div class="flex items-center space-x-2 mb-2 sm:mb-0 overflow-hidden">
                                <div class="w-5 h-5 rounded-full overflow-hidden bg-gray-200">
                                    <img src="{% static 'images/logo2.png' %}" alt="Author's Headshot" class="w-full h-full object-cover">
                                </div>
                                <p class="font-semibold text-gray-900 text-sm sm:text-base">Newstropy</p>
                            </div>
                            <div class="flex items-center space-x-2 text-gray-600 text-sm sm:text-base">
                                <i class="fas fa-calendar-day text-green-700"></i>
                                <p>{{ trend.date|date:"F j, Y" }}</p>
                            </div>
                        </div>
                    </div>

                    <div class=" mt-8">


                        {% if trend.file %}
                            {% if trend.is_image %}
                                <img src="{{ absolute_file_url }}" alt="{{ trend.title }}" class="w-full object-cover">
                            {% elif trend.is_video %}
                                <video controls class="w-full h-72">
                                    <source src="{{ absolute_file_url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        {% else %}
                            <img src="{% static 'images/Breakingnews.png' %}" alt="Default Image" class="w-full h-auto">
                        {% endif %}

                    </div>

                


                    
                </div>

                {% include 'partials/buttons.html' %}
                <!-- Post Content -->
                <div id="contentContainer" class="py-0 overflow-hidden my-8">
                    {{ advert|first_letter_richtext | safe | linebreaks }}
                </div>

                <div class="shop my-8">
                    {% include 'shop/blog_shop.html' %}
                </div>

                <div class="mt-6">
                    {% include 'partials/comment&reply.html' %}
                </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
                {% include 'advert/advert.html' with banner=sidebar_ad %}
                <div class="my-8">
                    <div class="section">
                        <div class="heading">
                            <h2>Recommended</h2>
                        </div>
                        <div class="line">
                            <div class="highlight"></div>
                        </div>
                    </div>

                    {% for post in recommended_posts %}
                        <div class="mb-4 flex shadow-md">
                            {% if post.image %}
                                <img src="{{ post.image.file.url }}" alt="{{ post.image.alt_text }}" class="w-20 h-20 object-cover mr-4">
                            {% else %}
                                <img src="{% static 'images/Breakingnews.png' %}" alt="Default image" class="w-20 h-20 object-cover mr-4">
                            {% endif %}
                            <div>
                                <a href="{% url 'blog_detail' post.slug %}" class="text-black hover:text-gray-800 font-semibold text-sm">{{ post.title|truncatechars:50|title }}</a>
                                <div class="meta text-xs text-gray-600 flex items-center mt-2">
                                    <i class="fas fa-clock text-red-500"></i>
                                    <span>{{ post.date|date:"F j, Y" }}</span>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No recommended posts available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}
