{% load static tailwind_tags %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scodynate News | {{ video.title }}</title>

    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
   
    <style>
        #contentContainer {
            max-width: 800px;
            margin: 15px auto;
            padding: 15px;
            line-height: 1.75;
            color: #333;
        }

        .first-letter {
            color: #228B22;
            font-size: 4rem;
            font-weight: bold;
            float: left;
            margin-right: 10px;
            line-height: 0.6;
            padding-top: 0.15em;
            padding-bottom: 0.15em;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body class="bg-white text-gray-900">

    <!-- Header Section -->
    <header class="sticky top-0 z-20 bg-white bg-opacity-80 shadow-md backdrop-blur-md">
        {% block content %}
        {% include 'header/header.html' %}
        {% endblock %}
    </header>

    <!-- Main Content -->
    <main class="container mx-auto px-4 py-8">
        <div class="flex flex-wrap -mx-4">

            <!-- Video Player Section -->
            <div class="w-full lg:w-8/12 px-4 mb-8">
                <h2 class="text-4xl font-bold text-gray-900 mb-8">{{ video.title }}</h2>

                <div>
                    <video controls class="w-full h-auto">
                        <source src="{{ video.video_file.file.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <!-- Author and Date Info -->
                    <div class="flex flex-col sm:flex-row items-start sm:items-center font-poppins my-4">
                        <div class="flex items-center space-x-2 mb-2 sm:mb-0">
                            <div class="w-5 h-5 rounded-full overflow-hidden bg-gray-200">
                                <img src="{% static 'images/logo2.png' %}" alt="Author's Headshot" class="w-full h-full object-cover">
                            </div>
                            <p class="font-semibold text-gray-900 text-sm sm:text-base">Newstropy</p>
                        </div>
                        <div class="flex items-center space-x-2 text-gray-600 text-sm sm:text-base">
                            <i class="fas fa-calendar-day text-green-700"></i>
                            <p>{{ video.date|date:"F j, Y" }}</p>
                        </div>
                    </div>

                    <!-- Action Buttons -->
                    {% include 'partials/buttons.html' %}
    
                    <!-- Content -->
                    <div id="contentContainer" class="py-0 overflow-hidden">
                        {{ advert|first_letter_richtext | safe | linebreaks }}
                    </div>

                </div>

                <!-- Comments Section -->
                <div>
                    {% block comment_reply %}
                    {% include 'partials/comment&reply.html' %}
                    {% endblock %}
                </div>
            </div>

            <!-- Sidebar Section -->
            <aside class="w-full lg:w-4/12 px-4">
                {% include 'home/trend.html' %}
            </aside>
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="bg-white border-t border-gray-200 shadow-md">
        {% block footer %}
        {% include 'partials/footer.html' %}
        {% endblock %}
    </footer>

</body>

</html>
