<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">
    <div class="flex h-screen">
        <!-- Sidebar -->

        {%include 'admin_partials/admin_sidebar.html'%}


        <!-- Main Content -->
        <main class="flex-1 p-6">
            <header class="border-b pb-4 mb-4">
                <h1 class="text-3xl font-bold text-gray-800">{% block title %}Admin Dashboard{% endblock %}</h1>
            </header>
            <section class="bg-white p-6 rounded shadow">
                {% block content %}
                
                {% endblock %}
            </section>
        </main>
    </div>
</body>
</html>
