<div class="font-helvetica top-bar text-sm p-2 bg-gray-950 text-white flex flex-col sm:flex-row justify-between  items-center space-y-2 sm:space-y-0">
    <div class="datetime flex items-center space-x-2 sm:space-x-2">
        <i class="fas fa-calendar-day text-gray-300"></i>
        <span class="text-gray-300">{{ current_time|date:"F j, Y" }}</span>
        <div class="social-links flex space-x-4 sm:space-x-2 text-gray-300">
            <!-- Facebook -->
            <a href="https://www.facebook.com" target="_blank" class="rounded-full bg-blue-600 w-5 h-5 flex items-center justify-center hover:bg-blue-700 transition">
                <i class="fab fa-facebook-f text-white text-sm"></i>
            </a>
            <!-- X (formerly Twitter) -->
            <a href="https://www.x.com" target="_blank" class="rounded-full bg-gray-100 w-5 h-5 flex items-center justify-center hover:bg-gray-800 transition">
                <i class="fab fa-x-twitter text-blue-400 text-sm"></i>
            </a>
        </div>
    </div>
    <div class="email flex items-center space-x-2">
        <i class="fas fa-envelope text-gray-300"></i>
        <span class="text-gray-300">{{ email }}</span>
    </div>
</div>