{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Scodynate Admin') }}{% endblock %}

{% block branding %}
<div id="site-name" class="flex items-center space-x-2">
    <!-- Logo -->
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/logoheader.png' %}" alt="Site Logo" class="h-10 w-auto">
    </a>

</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}
